body {
  margin: 40px;
  background-color: #5d5d5d;
}

header {
  background-color: #0e2433;
  margin: 10px auto;
  max-width: 54.2%;
  height: 100px;
}
h1 {
  text-align: center;
  padding: 20px;
  color: white;
}

.container {
  border: 120px solid #0e2433;
  width: 960px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 120px);
  grid-template-rows: 40px repeat(8, 120px) 40px;
  grid-auto-flow: row;
}
.inner-container-top {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
  align-items: strech;
}

.box {
  padding: 20px;
  background-color: white;
  color: #000;
}

.box > span {
  opacity: 0;
}

.box span:hover {
  color: #0e2433;
  font-size: 1rem;
}

.rotate-scale-up {
  animation: rotate-scale-up 0.65s linear both;
}

.box-inner {
  text-align: center;
  align-self: center;
}
.top,
.bottom {
  display: grid;
  align-items: stretch;
  background-color: #296d98;
}
.top {
  grid-area: 1 / 1 / 1 / 9;
  /* grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1; */
}
.bottom {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 10;
}

.turm_b {
  background-image: url(./images/black/turm.png);
  background-position: center;
  background-size: rem;
  background-repeat: no-repeat;
  opacity: 0;
}

.pferd_b {
  background-image: url(./images/black/pferd.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}

.pferd_b:hover {
  background-image: url(./images/black/pferd.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
  animation-name: pferd_b;
  animation-duration: 5s;
}

.laeufer_b {
  background-image: url(./images/black/lauefer.png);
  background-position: center;
  background-size: 6.5rem;
  background-repeat: no-repeat;
}
.laeufer_b:hover {
  background-image: url(./images/black/lauefer.png);
  background-position: center;
  background-size: 6.5rem;
  background-repeat: no-repeat;
  animation-name: laeufer_b;
  animation-duration: 4s;
}
.koenig_b {
  background-image: url(./images/black/koenig_b.png);
  background-position: center;
  background-size: 6rem;
  background-repeat: no-repeat;
}
.dame_b {
  background-image: url(./images/black/dame-b.jpg);
  background-position: center;
  background-size: 7rem;
  background-repeat: no-repeat;
}

.bauer_1b {
  background-image: url(./images/black/bauer_b.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}
.bauer_2b {
  background-image: url(./images/black/bauer_b.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}
.bauer_3b {
  background-image: url(./images/black/bauer_b.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}

.bauer_3b:hover {
  background-image: url(./images/black/bauer_b.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
  animation-name: bauer_3b;
  animation-duration: 3s;
}

.bauer_4b {
  background-image: url(./images/black/bauer_b.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}
.bauer_5b {
  background-image: url(./images/black/bauer_b.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}
.bauer_6b:hover {
  background-image: url(./images/black/bauer_b.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
  animation-name: bauer_6b;
  animation-duration: 6s;
}

/* .bauer_6b:hover {
  background-image: url(./images/black/bauer_b.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
  animation-name: bauer_6b;
  animation-duration: 2s;
} */

.bauer_7b {
  background-image: url(./images/black/bauer_b.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}
.bauer_8b {
  background-image: url(./images/black/bauer_b.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}

.bauer_w {
  background-image: url(./images/white/bauer_w.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}

.turm_w {
  background-image: url(./images/white/turm_w.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}
.pferd_w {
  background-image: url(./images/white/pferd_w.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}
.laeufer_w {
  background-image: url(./images/white/laeufer_w.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}
.koenig_w {
  background-image: url(./images/white/koenig_w.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}
.dame_w {
  background-image: url(./images/white/dame_w.png);
  background-position: center;
  background-size: 5rem;
  background-repeat: no-repeat;
}

.box:nth-child(-2n + 9),
.box:nth-child(9) ~ div:nth-child(-2n + 16),
.box:nth-child(17) ~ div:nth-child(-2n + 25),
.box:nth-child(25) ~ div:nth-child(-2n + 32),
.box:nth-child(33) ~ div:nth-child(-2n + 41),
.box:nth-child(41) ~ div:nth-child(-2n + 48),
.box:nth-child(49) ~ div:nth-child(-2n + 57),
.box:nth-child(57) ~ div:nth-child(-2n + 64) {
  background-color: lightseagreen;
}

@keyframes bauer_6b {
  0% {
    background-color: magenta;
  }
  50% {
    background-color: #296d98;
  }

  100% {
    background-color: yellow;
  }
}

@keyframes pferd_b {
  0 % {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(250px) rotate(0deg);
  }

  100% {
    transform: translateY(100px) rotate(0deg);
  }
}

@keyframes laeufer_b {
  0% {
    background-image: url(./images/tennis-ball.png);
  }

  50% {
    background-image: url(./images/tennis-racket);
  }

  100% {
    background-image: url(./images/tennis-racket);
  }
}

@keyframes bauer_3b {
  0% {
    background-color: magenta;
  }
  50% {
    background-color: #296d98;
  }

  100% {
    background-color: yellow;
  }
}

.letter-l span {
  opacity: 0;
  animation-name: letter-l;
  animation-duration: 4s;
}

@keyframes letter-l {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 100;
  }

  100% {
    background-color: yellow;
  }
}
