:root {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-size: 1.5rem;
  background-image: url(./images/glas_motiv_skyline_hamburg.jpg);
}

header {
  margin: 0 auto;
  width: 900px;
  background-color: #000;
  top: 0%;
}

h1 {
  color: aliceblue;
  text-align: center;
  font-size: 3rem;
  padding: 3.2rem;
  font-family: "Anton", sans-serif;
}

main {
  margin: 0px auto;
  width: 900px;
  height: 100vh;
}

/* ? Animations Background / Icon   */

.moewen img {
  position: absolute;
  top: 30%;
  left: 5%;
  animation-name: moewen;
  animation-duration: 6s;
  width: 10%;
  animation-delay: 1s;

  /* cubic-bezier(1,.02,.4,.57); */
}

@keyframes moewen {
  0% {
    width: 10%;
    opacity: 0;
    animation-delay: 10s;
  }

  100% {
    width: 20%;
    transform: translate(300px, -530px);
    rotate: 120%;
  }
}

.bulli {
  position: absolute;
  top: 47.5%;
  right: 10%;
  rotate: 23deg;
  animation-name: bulli;
  animation-duration: 4s;
}

@keyframes bulli {
  0% {
    transform: translate(0px) rotate(0deg);
  }

  25% {
    transform: translate(-150px, 60px) rotate(-10deg)
    opacity: 2;
  }

  50% {
    transform: translate(-150px, 70px) rotate(-10deg)
    opacity: 2;
  }

  /* 75% {
    transform: translate(-200px, -15px) rotate(-8deg);
  } */

  100% {
    transform: translate(-450px, 80px) rotate(-25deg);
    opacity: 0;
  }
}

/* ? The whole Board itself ---------------------------------------?  */
.board {
  margin: 0 auto;
  display: grid;
  width: 900px;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px 1fr 50px;
  grid-auto-flow: row;
  grid-auto-flow: column;
  background-color: #000;
}

/* ? Top & Bottom Row/Column  ----------------------------------------------?  */

.top,
.bottom,
.left,
.right {
  background-color: #000;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
  align-items: stretch;
}

.top {
  grid-area: 1 / 2 / 2 / 3;
}
.bottom {
  grid-area: 3/2 / 4 / 3;
}

.top-letters,
.bottom-letters {
  text-align: center;
  color: #fff;
}

/* ? Left / Right  ----------------------------------------------?  */

.left,
.right {
  display: grid;
  grid-gap: ;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: stretch;
}

.left {
  grid-area: 2 / 1 / 3 /2;
}

.right {
  grid-area: 2 / 3 / 3 / 4;
}

.left-number,
.right-number {
  align-self: center;
  text-align: center;
  color: #fff;
}

/* ? Board Fields  ----------------------------------------------?  */

.fields {
  display: grid;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(8, 100px);
  grid-auto-flow: column;
  grid-auto-flow: row;

  grid-area: 2 /2 / 10 / 10;
}

.field {
  display: grid;
  background-color: grey;
  color: #000;
  border: 1px solid black;
  align-items: center;
  justify-items: center;
}

.field:nth-child(-2n + 7),
.field:nth-child(9) ~ div:nth-child(-2n + 16),
.field:nth-child(16) ~ div:nth-child(-2n + 23),
.field:nth-child(25) ~ div:nth-child(-2n + 32),
.field:nth-child(32) ~ div:nth-child(-2n + 39),
.field:nth-child(41) ~ div:nth-child(-2n + 48),
.field:nth-child(48) ~ div:nth-child(-2n + 55),
.field:nth-child(57) ~ div:nth-child(-2n + 64) {
  background-color: #fff;
}

/* ? Chess Figures */

.field span {
  font-size: 8rem;
}
