:root {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}

/* ? Simple Header  ------------------------------*/

header {
  margin: 0 auto;
  width: 900px;
  background-color: #000;
  top: 0%;
}

h1 {
  color: aliceblue;
  text-align: center;
  font-size: 5rem;
  padding: 3.2rem;
  font-family: "Orbitron", sans-serif;
}

/* ? Main Start -------------------------------------------- */
main {
  background-image: url(./images/glas_motiv_skyline_hamburg.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 1;
}

/* ? Animations Background / Icon  -------------------------- */

.moewen img {
  position: absolute;
  top: 30%;
  left: 5%;
  animation-name: moewen;
  animation-duration: 6s;
  width: 10%;
  animation-delay: 10s;
}

@keyframes moewen {
  0% {
    width: 10%;
    opacity: 0;
    animation-delay: 10s;
  }

  100% {
    width: 20%;
    transform: translate(300px, -530px);
    rotate: 120%;
  }
}

.bulli img {
  position: absolute;
  top: 47.5%;
  right: 10%;
  rotate: 23deg;
  animation-name: bulli;
  animation-duration: 4s;
  animation-delay: 14s;
}

@keyframes bulli {
  0% {
    transform: translate(0px) rotate(0deg);
  }

  25% {
    transform: translate(-150px, 60px) rotate(-10deg);
  }
  50% {
    transform: translate(-150px, 70px) rotate(-10deg);
  }
  100% {
    transform: translate(-450px, 80px) rotate(-25deg);
  }
}

.boat {
  position: absolute;
  bottom: 10%;
  left: 1%;
  animation-name: boat;
  animation-duration: 4s;
  animation-delay: 5s;
}

@keyframes boat {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(1550px);
  }
}
/* ? The whole Board itself ---------------------------------------?  */
.board {
  position: realtive;
  margin: 0px auto;
  display: grid;
  width: 900px;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px 1fr 50px;
  grid-auto-flow: row;
  grid-auto-flow: column;
  background-color: #000;
  animation-name: board;
  animation-duration: 15s;
  animation-delay: 10s;
  z-index: 2;
  opacity: 1;
}
/* 
@keyframes board {
  0% {
    opacity: 0;
  }
  100% {
    
    z-index: 2;
  }
} */

/* ? Top & Bottom Row/Column  ----------------------------------------------?  */

.top,
.bottom,
.left,
.right {
  background-color: #000;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
  align-items: stretch;
}

.top {
  grid-area: 1 / 2 / 2 / 3;
}
.bottom {
  grid-area: 3/2 / 4 / 4;
}

.top-letters,
.bottom-letters {
  text-align: center;
  color: #fff;
}

/* ? Left / Right  ----------------------------------------------?  */

.left,
.right {
  display: grid;
  grid-gap: ;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: stretch;
}

.left {
  grid-area: 2 / 1 / 3 /2;
}

.right {
  grid-area: 2 / 3 / 3 / 4;
}

.left-number,
.right-number {
  align-self: center;
  text-align: center;
  color: #fff;
}

/* ? Board Fields  ----------------------------------------------?  */

.fields {
  display: grid;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(8, 100px);
  grid-auto-flow: column;
  grid-auto-flow: row;
  background-color: #fff;
  grid-area: 2 /2 / 10 / 10;
}

.field {
  display: grid;
  background-color: grey;
  color: #000;
  border: 1px solid black;
  align-items: center;
  justify-items: center;
}

.field:nth-child(-2n + 7),
.field:nth-child(9) ~ div:nth-child(-2n + 16),
.field:nth-child(16) ~ div:nth-child(-2n + 23),
.field:nth-child(25) ~ div:nth-child(-2n + 32),
.field:nth-child(32) ~ div:nth-child(-2n + 39),
.field:nth-child(41) ~ div:nth-child(-2n + 48),
.field:nth-child(48) ~ div:nth-child(-2n + 55),
.field:nth-child(57) ~ div:nth-child(-2n + 64) {
  background-color: #fff;
}

/* ? Chess Figures ---------------------------------*/

.field span {
  font-size: 8rem;
}

/* ? Moving Figures ---------------------------------*/

.bauerd2 span {
  animation-name: bauerd2;
  animation-duration: 3s;
  animation-delay: 5s;
}

@keyframes bauerd2 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translateY(200px);
  }
}

.laeuferc1 span {
  animation-name: laeuferc1;
  animation-duration: 3s;
  animation-delay: 7s;
}

@keyframes laeuferc1 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(400px, 400px);
  }
}

.slide-fwd-center {
  opacity: 0;
  background-color: aqua;
}
.slide-fwd-center:hover {
  animation: slide-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  opacity: 1;
}

@keyframes slide-fwd-center {
  0% {
    transform: translateZ(0);
    font-size: 0;
  }
  100% {
    transform: translateZ(160px);
    font-size: 20rem;
    color: rgb(26, 61, 71);
  }
}

/* ? Countdown --------------------------------------- */

.number-container {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(6, 6, 18, 1) 0%,
    rgba(63, 63, 70, 1) 35%,
    rgba(193, 193, 200, 1) 100%
  );
  opacity: 0;
  animation-name: countdown;
  animation-duration: 6s;
}

@keyframes countdown {
  0% {
    opacity: 1;
    z-index: 2;
  }
  25% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}

.number-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 10px solid #fff;
  border-radius: 50%;
}

.countdown span {
  font-family: "Orbitron";
  color: #fff;
  font-size: 12rem;
}

.countdown3 {
  animation-name: countdown3;
  animation-duration: 0.5s;
  opacity: 0;
}

@keyframes countdown3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.countdown2 {
  animation-name: countdown3;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  opacity: 0;
}

@keyframes countdown2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.countdown1 {
  animation-name: countdown3;
  animation-duration: 0.5s;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes countdown1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.countdown0 {
  animation-name: countdown3;
  animation-duration: 3s;
  animation-delay: 1.5s;
  opacity: 0;
}

@keyframes countdown0 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
